{% extends "layout.html" %}
{% block content %}
<h1>O Softveru - Marko</h1>
<br>
<h3>KPO.digital je softver za digitalno vođenje KPO obrasca. On olakšava paušalnim preduzetnicima vođenje evidencije o prihodima, što je njihova zakonska obaveza. Softver je razvio Studio Implicit, firma sa bogatim iskustvom u razvoju poslovnih rešenja.</h3>
<br>
<div class="content-section">
  <h3>Zašto da koristite naš softver?</h3>
  <p class='text-muted'>
    <ul class="list-group">
      <li class="list-group-item list-group-item-light"><small> - Softver je jednostavan za korišćenje</small></li>
      <li class="list-group-item list-group-item-light"><small> - Izgled je prilagođen svim mobilnim i desktop uređajima</small></li>
      <li class="list-group-item list-group-item-light"><small> - Pristup softveru je moguć u bilo kom trenutku i odakle god da radite</small></li>
      <li class="list-group-item list-group-item-light"><small> - Prikazivanje godišnjeg limita i limita za PDV na dnevnom nivou</small></li>
      <li class="list-group-item list-group-item-light"><small> - Opcija izvoza i štampanja KPO obrasca</small></li>
      <li class="list-group-item list-group-item-light"><small> - Podaci u softveru su bezbedni</small></li>
      <li class="list-group-item list-group-item-light"><small> - Omogućen rad većem broju korisnika</small></li>
      <li class="list-group-item list-group-item-light"><small> - Softver radi u cloud-u, nije potrebno instaliranje</small></li>
    </ul>
  </p>
</div>

<h2>Uz naš softver napišite knjigu koja će se rado čitati u poreskoj upravi!</h2>

<a class = "btn btn-info btn-sm m-1" href="{{url_for('users.login')}}"> Prijavi se</a>
{% endblock content%}
