{% extends "layout.html" %}
{% block content %}
<div class="contetn-section">
    <form action="" method="post">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <div class="col form-group" style="border: 1px solid black;">
          <div class="row">
            <div class="col-3 form-group">
              {{ form.bill_currency.label(class="form-control-label") }}
              {% if form.bill_currency.errors %}
                {{ form.bill_currency(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.bill_currency.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.bill_currency(class="form-select") }}
              {% endif %}
            </div>
            <div class="col form-group">
              {{ form.bill_number.label(class="form-control-label") }}
              {% if form.bill_number.errors %}
                {{ form.bill_number(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.bill_number.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.bill_number(class="form-control") }}
              {% endif %}
            </div>
            <div class="col form-group">
              {{ form.bill_contract_number.label(class="form-control-label") }}
              {% if form.bill_contract_number.errors %}
                {{ form.bill_contract_number(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.bill_contract_number.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.bill_contract_number(class="form-control") }}
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="col form-group">
              {{ form.bill_type.label(class="form-control-label") }}
              {% if form.bill_type.errors %}
                {{ form.bill_type(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.bill_type.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.bill_type(class="form-select") }}
              {% endif %}
            </div>
            <div class="col form-group">
              {{ form.bill_customer_id.label(class="form-control-label") }}
              {% if form.bill_customer_id.errors %}
                {{ form.bill_customer_id(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.bill_customer_id.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.bill_customer_id(class="form-select") }}
              {% endif %}
            </div>
          </div>
          <dib class="row">
            <div class="col form-group">
              {{ form.bill_decision_number.label(class="form-control-label") }}
              {% if form.bill_decision_number.errors %}
                {{ form.bill_decision_number(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.bill_decision_number.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.bill_decision_number(class="form-control") }}
              {% endif %}
            </div>
            <div class="col form-group">
              {{ form.bill_service.label(class="form-control-label") }}
              {% if form.bill_service.errors %}
                {{ form.bill_service(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.bill_service.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.bill_service(class="form-control") }}
              {% endif %}
            </div>
          </dib>
        </div>
        <div class="row">
          <div class="col-3 form-group">
            {{ form.bill_tax_category.label(class="form-control-label") }}
            {% if form.bill_tax_category.errors %}
              {{ form.bill_tax_category(class="form-control is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.bill_tax_category.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.bill_tax_category(class="form-select") }}
            {% endif %}
          </div>
          <div class="col form-group">
            {{ form.bill_base_code.label(class="form-control-label") }}
            {% if form.bill_base_code.errors %}
              {{ form.bill_base_code(class="form-control is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.bill_base_code.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.bill_base_code(class="form-select") }}
            {% endif %}
          </div>
          <div class="col form-group">
            {{ form.bill_purchase_order_number.label(class="form-control-label") }}
            {% if form.bill_purchase_order_number.errors %}
              {{ form.bill_purchase_order_number(class="form-control is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.bill_purchase_order_number.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.bill_purchase_order_number(class="form-control") }}
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col-3 form-group">
            {{ form.bill_transaction_date.label(class="form-control-label") }}
            {% if form.bill_transaction_date.errors %}
              {{ form.bill_transaction_date(class="form-control is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.bill_transaction_date.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.bill_transaction_date(class="form-control", type="date") }}
            {% endif %}
          </div>
          <div class="col-3 form-group">
            {{ form.bill_due_date.label(class="form-control-label") }}
            {% if form.bill_due_date.errors %}
              {{ form.bill_due_date(class="form-control is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.bill_due_date.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.bill_due_date(class="form-control", type="date") }}
            {% endif %}
          </div>
          <div class="col form-group">
            {{ form.bill_tax_calculation_date.label(class="form-control-label") }}
            {% if form.bill_tax_calculation_date.errors %}
              {{ form.bill_tax_calculation_date(class="form-control is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.bill_tax_calculation_date.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.bill_tax_calculation_date(class="form-select") }}
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col form-group">
            {{ form.bill_reference_number.label(class="form-control-label") }}
            {% if form.bill_reference_number.errors %}
              {{ form.bill_reference_number(class="form-control is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.bill_reference_number.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.bill_reference_number(class="form-control") }}
            {% endif %}
          </div>
          <div class="col form-group">
            {{ form.bill_model.label(class="form-control-label") }}
            {% if form.bill_model.errors %}
              {{ form.bill_model(class="form-control is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.bill_model.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.bill_model(class="form-control") }}
            {% endif %}
          </div>
          <div class="col form-group">
            {{ form.bill_attachment.label(class="form-control-label") }}
            {% if form.bill_attachment.errors %}
              {{ form.bill_attachment(class="form-control is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.bill_attachment.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.bill_attachment(class="form-control") }}
            {% endif %}
          </div>
        </div>
      </fieldset>
      <div>
        <legend id="stavke" class="border-bottom mb-4">Stavke fakture</legend>
        <table class="mb-4">
          <thead>
            <tr>
              <th>Šifra</th>
              <th>Naziv</th>
              <th>Količina</th>
              <th>Jedinica mere</th>
              <th>Cena</th>
              <th>Popust (%)</th>
              <th>Iznos popusta</th>
              <th>Iznos bez PDV</th>
              <th>PDV (%)</th>
              <th></th>
            </tr>
          </thead>
          <tbody hx-target="closest tr" hx-swap="outerHTML swap:1s">
            {% for record in bill.bill_items %}
              <tr>
                <td><input class="form-control" type="text" name="field[]" value="{{record['sifra']}}"></td>
                <td><input class="form-control" type="text" name="field[]" value="{{record['naziv']}}"></td>
                <td><input class="form-control" type="text" name="field[]" value="{{record['kolicina']}}"></td>
                <td>
                  <select class="form-select" name="field[]">
                    {% for unit in units %}
                      {% if record['jedinica_mere'] == unit[0] %}
                        <option value="{{unit[0]}}" selected>{{unit[1]}}</option>
                      {% else %}
                        <option value="{{unit[0]}}">{{unit[1]}}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </td>
                <td><input class="form-control" type="text" name="field[]" value="{{record['cena']}}"></td>
                <td><input class="form-control" type="text" name="field[]" value="{{record['popust']}}"></td>
                <td><input class="form-control" type="text" name="field[]" value="proračun = količina*cena*popust" readonly></td>
                <td><input class="form-control" type="text" name="field[]" value="proračun = količina*cena-iznos_popusta" readonly></td>
                <td>
                  <select class="form-select" name="field[]" id="">
                    {% for tax in taxes %}
                      {% if record['pdv'] == tax[0] %}
                        <option value="{{tax[0]}}" selected>{{tax[1]}}</option>
                      {% else %}
                        <option value="{{tax[0]}}">{{tax[1]}}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </td>
                <td><button type="button" hx-delete="/delete_item" class="btn btn-danger"><i class="fa-solid fa-minus"></i></button></td>
              </tr>
            {% endfor %}
            <tr id="new_item" hx-swap="beforebegin">
              <td><button type="button" hx-get="/new_item" hx-target="#new_item" class="btn btn-primary mb-4"><i class="fa-solid fa-plus"></i></button></td>
            </tr>
          </tbody>
        </table>
      </div>
      {% if company_settings.payment_records %}
      <div>
        <legend id="" class="border-bottom mb-4">Uplate</legend>
        <table>
          <thead>
            <tr>
              <th>Datum uplate</th>
              <th>Iznos uplate</th>
              <th></th>
            </tr>
          </thead>
          <tbody hx-target="closest tr" hx-swap="outerHTML swap:1s">
            {% for payment in bill.bill_payments %}
            <tr>
              <td><input type="date" name="payment[]" class="form-control" value="{{payment['payment_date']}}"></td>
              <td><input type="text" name="payment[]" class="form-control" value="{{payment['payment_amount']}}"></td>
              <td><button type="button" hx-delete="/delete_item" class="btn btn-danger"><i class="fa-solid fa-minus"></i></button></td>
            </tr>
            {% endfor %}
            <tr id="new_payment" hx-swap="beforebegin">
              <td><button type="button" hx-get="/new_payment" hx-target="#new_payment" class="btn btn-primary mb-4"><i class="fa-solid fa-plus"></i> Nova uplata</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      {% endif %}
      <div class="content-section m-3">
        <ul class="list-group">
          <li>Zbir stavki - nije predmet oporezivanja PDV: _____</li>
          <li>Ukupna osnovica - nije predmet oporezivanja PDV: _____</li>
          <li>Umanjena osnovica - nije predmet oporezivanja PDV: _____</li>
          <li>Ukupno za uplatu: ____</li>
          <li>Poresko oslobođenje: preduzetnik se oporezuje paušalno i nije u sistemu PDF-a.</li>
        </ul>
      </div>
      <div class="form-group">
        <a class="btn" href="{{url_for('bills.bill_list')}}">&#8678; Nazad</a>
        {{ form.submit(class="btn btn-outline-info") }}
      </div>
    </form>
  </div>

{% endblock content%}
