{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group button-group">
            <a class="btn btn-info" href="{{url_for('customers.customer_list')}}"><i class="fa-solid fa-left-long"></i> Nazad</a>
            <a class="btn btn-info btn-sm" href="{{ url_for('bills.register_b', type='faktura') }}">Kreirajte novu fakturu</a>
            <a class="btn btn-info btn-sm" href="{{ url_for('bills.register_b', type='avans') }}">Kreirajte novi avansni račun</a>
            {{ form.submit(class="btn btn-danger mb-10 hidden") }}
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="edit-switch">
                <label class="form-check-label" for="edit-switch">Editujte podatke komitenta</label>
            </div>
        </div>
        <fieldset class="form-group">
            <div class="form-gorup">
                {{ form.customer_name.label(class="form-control-label") }}
                {% if form.customer_name.errors %}
                    {{ form.customer_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.customer_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.customer_name(class="form-control form-control-lg", readonly=true) }}
                {% endif %}
            </div>
            <div class="row">
                <div class="col-7 form-gorup">
                    {{ form.customer_address.label(class="form-control-label") }}
                    {% if form.customer_address.errors %}
                        {{ form.customer_address(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.customer_address.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.customer_address(class="form-control form-control-lg", readonly=true) }}
                    {% endif %}
                </div>
                <div class="col-2 form-gorup">
                    {{ form.customer_address_number.label(class="form-control-label") }}
                    {% if form.customer_address_number.errors %}
                        {{ form.customer_address_number(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.customer_address_number.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.customer_address_number(class="form-control form-control-lg", readonly=true) }}
                    {% endif %}
                </div>
                <div class="col-3 form-gorup">
                    {{ form.customer_zip_code.label(class="form-control-label") }}
                    {% if form.customer_zip_code.errors %}
                        {{ form.customer_zip_code(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.customer_zip_code.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.customer_zip_code(class="form-control form-control-lg", readonly=true) }}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col form-gorup">
                    {{ form.customer_city.label(class="form-control-label") }}
                    {% if form.customer_city.errors %}
                        {{ form.customer_city(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.customer_city.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.customer_city(class="form-control form-control-lg", readonly=true) }}
                    {% endif %}
                </div>
                <div class="col form-gorup">
                    {{ form.customer_state.label(class="form-control-label") }}
                    {% if form.customer_state.errors %}
                        {{ form.customer_state(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.customer_state.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.customer_state(class="form-control form-control-lg", readonly=true) }}
                    {% endif %}
                </div>
            </div>
            <divr class="row">
                <div class="col form-gorup">
                    {{ form.customer_pib.label(class="form-control-label") }}
                    {% if form.customer_pib.errors %}
                        {{ form.customer_pib(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.customer_pib.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.customer_pib(class="form-control form-control-lg", readonly=true) }}
                    {% endif %}
                </div>
                <div class="col form-gorup">
                    {{ form.customer_mb.label(class="form-control-label") }}
                    {% if form.customer_mb.errors %}
                        {{ form.customer_mb(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.customer_mb.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.customer_mb(class="form-control form-control-lg", readonly=true) }}
                    {% endif %}
                </div>
                <div class="col form-gorup">
                    {{ form.customer_jbkjs.label(class="form-control-label") }}
                    {% if form.customer_jbkjs.errors %}
                        {{ form.customer_jbkjs(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.customer_jbkjs.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.customer_jbkjs(class="form-control form-control-lg", readonly=true) }}
                    {% endif %}
                </div>
            </divr>
            <div class="form-gorup">
                {{ form.customer_mail.label(class="form-control-label") }}
                {% if form.customer_mail.errors %}
                    {{ form.customer_mail(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.customer_mail.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.customer_mail(class="form-control form-control-lg", readonly=true) }}
                {% endif %}
            </div>
        </fieldset>
        <hr>
        <div class="row">
            <div class="col">
                <label for="start-date" class="form-label">Početni datum:</label>
                <input class="form-control mb-4" type="date" id="start-date" name="start-date" value="{{ start_date }}">
            </div>
            <div class="col">
                <label for="end-date" class="form-label">Krajnji datum:</label>
                <input class="form-control mb-4" type="date" id="end-date" name="end-date" value="{{ end_date }}">
            </div>
            <div class="col">
                <a class="btn btn-primary mt-4 mb-4" href="{{ url_for('customers.export_report', customer_id=customer.id, start_date=start_date, end_date=end_date) }}">Izvoz liste faktura </a>
            </div>
        </div>
        <table id="data" class="table table-striped dataTable no-footer invoices" role="grid" aria-describedby="data_info" style="width: 968px;">
            <thead>
                <tr role="row">
                    <th>Br fakture</th> 
                    <th>Datum prometa</th> 
                    <th>Opis knjiženja</th> 
                    <th>Iznos</th> 
                    <th>Datum dospeća</th>
                    {% if company_settings.payment_records %}
                    <th></th> 
                    <th>Uplaćeno</th> 
                    <th>Preostalo za uplatu</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for bill in bills %}
                <tr>
                    <td>
                        <div class="btn-group">
                            {% if bill.bill_type == 'Faktura' %}
                            <a class="btn btn-secondary btn-sm" href="{{ url_for('bills.bill_profile', bill_id=bill.id) }}" title="Faktura">F</a>
                            {% elif bill.bill_type == 'Avansni račun' %}
                            <a class="btn btn-secondary btn-sm" href="{{ url_for('bills.bill_profile', bill_id=bill.id) }}" title="Avansni račun">A</a>
                            {% elif bill.bill_type == 'Knjižno odobrenje' %}
                            <a class="btn btn-secondary btn-sm" href="{{ url_for('bills.bill_profile', bill_id=bill.id) }}" title="Knjižno odobrenje">O</a>
                            {% elif bill.bill_type == 'Knjižno zaduženje' %}
                            <a class="btn btn-secondary btn-sm" href="{{ url_for('bills.bill_profile', bill_id=bill.id) }}" title="Knjižno zaduženje">Z</a>
                            {% endif %}
                            <a class="btn btn-primary btn-sm" href="{{ url_for('bills.bill_profile', bill_id=bill.id) }}" title="Izmenite dokument">{{ bill.bill_number }} </a>
                            <a class="btn btn-danger btn-sm" href="{{ url_for('bills.open_pdf', bill_id=bill.id) }}" target="_blank" title="Preuzmite dokument"><i class="fa-solid fa-down-long"></i></a>
                        </div>
                    </td>
                    {% if bill.bill_transaction_date %}
                        <td>{{ bill.bill_transaction_date }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{ bill.bill_service }}</td>
                    <td>{{ '%.2f' % bill.total_price }}</td>
                    {% if bill.bill_due_date %}
                        <td>{{ bill.bill_due_date }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    {% if company_settings.payment_records %}
                    <td>
                        {% if bill.bill_status == 'poslat' %}
                            {% if bill.total_price == bill.total_payments %}
                                <i class="fa-solid fa-circle-check" title="Plaćeno u celosti"></i>
                            {% elif bill.total_price < bill.total_payments %}
                                <i class="fa-solid fa-triangle-exclamation" title="GREŠKA"></i>
                            {% else %}
                                <i class="fa-solid fa-circle-xmark" title="Delimično plaćeno"></i>
                            {% endif %}
                        {% else %}
                            {{ bill.bill_status }}
                        {% endif %}
                    </td>
                    <td>
                        {% if bill.total_price != bill.total_payments %}
                            {% if bill.total_payments == None %}
                                0,00
                            {% else %}
                                {{ '%.2f' % bill.total_payments }}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if bill.total_price != bill.total_payments %}
                            {{ '%.2f' % (bill.total_price - bill.total_payments|float) }}
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7" style="text-align:right"></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </form>
{% endblock content%}

{% block scripts %}
<script>
    const editSwitch = document.getElementById("edit-switch");
    const formFields = document.querySelectorAll(".form-group input");

    editSwitch.addEventListener("change", () => {
    if (editSwitch.checked) {
        // Polja su editabilna, pa treba ukloniti atribut "readonly"
        formFields.forEach((field) => field.removeAttribute("readonly"));
        $('#submit').removeClass('hidden');
    } else {
        // Polja nisu editabilna, pa treba dodati atribut "readonly"
        formFields.forEach((field) => field.setAttribute("readonly", ""));
        $('#submit').addClass('hidden');
    }
    });
</script>
<script>
    $(document).ready(function () {
    $('#data').DataTable({
        footerCallback: function (row, data, start, end, display) {
        var api = this.api();

        // Remove the formatting to get integer data for summation
        var intVal = function (i) {
            return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
        };

        // Total over all pages
        total = api
            .column(7)
            .data()
            .reduce(function (a, b) {
                return intVal(a) + intVal(b);
            }, 0);

        // Total over this page
        pageTotal = api
            .column(7, { page: 'current' })
            .data()
            .reduce(function (a, b) {
                return intVal(a) + intVal(b);
            }, 0);

        // Update footer
        $(api.column(7).footer()).html(pageTotal + ' (' + total + ' total)');
        },
        language: {
            url: "//cdn.datatables.net/plug-ins/1.12.1/i18n/sr-SP.json"
        },
        stateSave: true,
        });
    });
</script>
<script>
    // Funkcija koja se poziva pri promeni datuma
    function handleDateChange() {
        var startDate = document.getElementById("start-date").value;
        var endDate = document.getElementById("end-date").value;
        var url = "{{ url_for('customers.customer_profile', customer_id=customer.id) }}?start_date=" + startDate + "&end_date=" + endDate;
        window.location.href = url; // Ponovno učitavanje stranice sa novim vrednostima datuma
    }

    // Dodavanje osluškivača događaja za promenu datuma
    document.getElementById("start-date").addEventListener("change", handleDateChange);
    document.getElementById("end-date").addEventListener("change", handleDateChange);
</script>
{% endblock %}