{% extends "layout.html" %}
{% block content %}
{% if current_user.is_authenticated %}
  <div class="two-inputs-in-row">
    <h1>{{ current_user.user_company.companyname }}</h1>
    <h2>{{ form.end_day.strftime("%d.%m.%Y.") }} </h2>
  </div>
  {% if current_user.authorization == 's_admin' %}
  <div class="form-group">
    <label class="form-control-label" for="">Selektujte kompaniju:</label>
    <select class="form-select form-select-lg" name="" id="">
      <option value="jedan">jedan</option>
      <option value="dva">dva</option>
      <option value="tri">tri</option>
    </select>
    <button class="btn btn-primary mt-3" type="submit">Primeni</button>
  </div>
  {% endif %}
  <hr>
  <h3>Fakturisano u tekućoj godini: {{ '{:,.2f}'.format(form.limit - form.razlika_6m) }} din</h3>
  <h3>Do limita od 6M u kalendarskoj godini ostalo je: {{ '{:,.2f}'.format(form.razlika_6m) }} din</h3>
  <h3>Fakturisano u prethodnih 365 dana: {{ '{:,.2f}'.format(form.limit - form.razlika_8m[1] + 2000000) }} din</h3>
  <hr>

  <table id="data" border="1" class="table table-striped">
    <thead>
      <tr id="header">
        <th>Do limita za PDV [8,000,000.00]</th>
        <th>[din]</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>na današnji dan:</td>
        <td>{{ '{:,.2f}'.format(form.razlika_8m[1]) }}</td>
      </tr>
      <tr>
        <td>na sutrašnju dan:</td>
        <td>{{ '{:,.2f}'.format(form.razlika_8m[2]) }}</td>
      </tr>
      <tr>
        <td>u narednih 7 dana:</td>
        <td>{{ '{:,.2f}'.format(form.razlika_8m[3]) }}</td>
      </tr>
      <tr>
        <td>u narednih 15 dana:</td>
        <td>{{ '{:,.2f}'.format(form.razlika_8m[4]) }}</td>
      </tr>
      <tr>
        <td>u narednih mesec dana:</td>
        <td>{{ '{:,.2f}'.format(form.razlika_8m[5]) }}</td>
      </tr>
      <tr>
        <td>u naredna 3 meseca:</td>
        <td>{{ '{:,.2f}'.format(form.razlika_8m[6]) }}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <a class="btn btn-info btn-lg m-1" href="{{ url_for('invoices.invoice_list') }}">Fakture</a>
{% endif %}

{% endblock content%}
