{% extends "layout.html" %}
{% block content %}
{% if current_user.authorization != 'c_user' %}
  <a class="btn btn-info btn-sm m-1" href="{{url_for('main.home')}}">&#8678; Nazad</a>
  <a class="btn btn-info btn-sm m-1" href="{{ url_for('invoices.register_i') }}">Dodavanje nove fakture</a>
{% endif %}
<div class="row">
  <div class="col-md-9">
    <table id="data" border="1" class="table table-striped ">
      {% if current_user.authorization == 's_admin' %}
        <thead>
          <tr>
            <th>Datum</th>
            <th>Br. Fakture</th>
            <th>Klijent</th>
            <th>Opis knjiženja</th>
            <th>Iznos [din]</th>
            <th>Kompanija</th>
            <th>Korinik</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for invoice in invoices %}
            <tr>
              <td>{{ invoice.date }}</td>
              <td><a class="mr-2 btn btn-info" href="{{ url_for('invoices.invoice_profile', invoice_id=invoice.id) }}" title="Edit Invoice">{{ invoice.invoice_number }}</a></td>
              <td>{{ invoice.customer }}</td>
              <td>{{ invoice.service }}</td>
              <td>{{ '{:,.2f}'.format(invoice.amount) }}</td>
              <td>{{ invoice.invoice_company.companyname }}</td>
              <td>{{ invoice.invoice_user.name }} {{ invoice.invoice_user.surname }}</td>
              <td style="text-align: center">{% if invoice.cancelled %} Storno &#9940 {% else %} &#9989 {% endif %}</td>
          {% endfor %}
        </tbody>
      {% elif current_user.authorization == 'c_admin' %}
        <thead>
          <tr>
            <th>Datum</th>
            <th>Br. Fakture</th>
            <th>Klijent</th>
            <th>Opis knjiženja</th>
            <th>Iznos [din]</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for invoice in invoices %}
            {% if invoice.invoice_company.id == current_user.user_company.id %}
              <tr>
                <td>{{ invoice.date }}</td>
                <td><a class="mr-2 btn btn-info" href="{{ url_for('invoices.invoice_profile', invoice_id=invoice.id) }}" title="Edit Invoice">{{ invoice.invoice_number }}</a></td>
                <td>{{ invoice.customer }}</td>
                <td>{{ invoice.service }}</td>
                <td>{{ '{:,.2f}'.format(invoice.amount) }}</td>
                <td style="text-align: center">{% if invoice.cancelled %} Storno &#9940 {% else %} &#9989 {% endif %}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      {% endif %}
    </table>
  </div>
  <div class="col-md-3">
    <div class="content-section">
      <h3>Korisni podaci</h3>
      <p class='text-muted'>Poslednja uneta faktura: {{ form.last_input.invoice_number }}
        <li class="list-group-item list-group-item-light"><small>Fakturisano u tekućoj godini: {{ '{:,.2f}'.format(form.limit -form.razlika[0] + 2000000) }} din</small></li>
        <ul class="list-group">
          <li class="list-group-item list-group-item-light">Do limita za PDV [8,000,000.00]</li>
          <li class="list-group-item list-group-item-light"><small>na današnji dan: {{ '{:,.2f}'.format(form.razlika[1]) }} din</small></li>
          <li class="list-group-item list-group-item-light"><small>na sutrašnju dan: {{ '{:,.2f}'.format(form.razlika[2]) }} din</small></li>
          <li class="list-group-item list-group-item-light"><small>u narednih 7 dana: {{ '{:,.2f}'.format(form.razlika[3]) }} din</small></li>
          <li class="list-group-item list-group-item-light"><small>u narednih 15 dana: {{ '{:,.2f}'.format(form.razlika[4]) }} din</small></li>
          <li class="list-group-item list-group-item-light"><small>u narednih mesec dana: {{ '{:,.2f}'.format(form.razlika[5]) }} din</small></li>
          <li class="list-group-item list-group-item-light"><small>u naredna 3 meseca: {{ '{:,.2f}'.format(form.razlika[6]) }} din</small></li>
        </ul>
      </p>
    </div>
  </div>
</div>

{% endblock content%}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        order: [[0, 'desc'], [1, 'desc']],
        language: {
          url: "//cdn.datatables.net/plug-ins/1.12.1/i18n/sr-SP.json"
        }
      });
    });
  </script>
{% endblock %}
