{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <!-- <legend class="border-bottom mb-4">{{ legend }}</legend> -->
        <!-- <div>
            <h4>lista klijenata: debug -- ne treba da postoji ova lista u frontendu</h4>
                {{customer_list}}
        </div> -->
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    {{ form.invoice_number.label(class="form-control-label") }}
                    {% if form.invoice_number.errors %}
                        {{ form.invoice_number(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.invoice_number.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.invoice_number(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.customer.label(class="form-control-label") }}
                    {% if form.customer.errors %}
                        {{ form.customer(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.customer.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="wrapper">
                            <div class="search-input">
                                {{ form.customer(class="form-control form-control-lg", type="text", placeholder="Pretražite klijente") }}
                                <!-- {{ form.customer(class="form-control form-control-lg", id="tags") }} -->
                                <div class="autocom-box">
                                    <!-- here list are inserted from javascript -->
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.service.label(class="form-control-label") }}
                    {% if form.service.errors %}
                        {{ form.service(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.service.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.service(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col form-group">
                        {{ form.amount.label(class="form-control-label") }}
                        {% if form.amount.errors %}
                            {{ form.amount(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.amount.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.amount(class="form-control form-control-lg", placeholder="0.00", type="number", step="0.01") }}
                        {% endif %}
                    </div>
                    <div class="col form-group">
                        {{ form.date.label(class="form-control-label") }}
                        {% if form.date.errors %}
                            {{ form.date(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.date.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.date(class="form-control form-control-lg", type="date") }}
                        {% endif %}
                    </div>
                </div>
                {% if current_user.authorization == 's_admin'%}
                    <div class="form-group">
                        {{ form.company_id.label(class="form-control-label") }}
                        {% if form.company_id.errors %}
                            {{ form.company_id(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.company_id.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.company_id(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                {% else %}
                    {{ form.company_id(class="sr-only form-control form-control-lg") }}
                {% endif %}
                {% if current_user.authorization == 's_admin'%}
                    <div class="form-group">
                        {{ form.user_id.label(class="form-control-label") }}
                        {% if form.user_id.errors %}
                            {{ form.user_id(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.user_id.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.user_id(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                {% else %}
                    {{ form.user_id(class="sr-only form-control form-control-lg") }}
                {% endif %}
                <div class="form-check form-switch">
                    {{ form.international_invoice(class="form-check-input") }}
                    {{ form.international_invoice.label(class="form-check-label") }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-section">
                <h3>Korisni podaci</h3>
                <p class='text-muted'>Poslednja uneta faktura: {{data.last_input.invoice_number}}
                    <li class="list-group-item list-group-item-light">Fakturisano u tekućoj godini: {{ '{:,.2f}'.format(data.limit - data.razlika_6m) }} din / ostalo: {{ '{:,.2f}'.format(data.razlika_6m) }}  din</li>
                    <ul class="list-group">
                    <li class="list-group-item list-group-item-light">Do limita za PDV [8,000,000.00]</li>
                    <li class="list-group-item list-group-item-light">na današnji dan: {{ '{:,.2f}'.format(data.razlika_8m[1]) }} din</li>
                    <li class="list-group-item list-group-item-light">na sutrašnju dan: {{ '{:,.2f}'.format(data.razlika_8m[2]) }} din</li>
                    <li class="list-group-item list-group-item-light">u narednih 7 dana: {{ '{:,.2f}'.format(data.razlika_8m[3]) }} din</li>
                    <li class="list-group-item list-group-item-light">u narednih 15 dana: {{ '{:,.2f}'.format(data.razlika_8m[4]) }} din</li>
                    <li class="list-group-item list-group-item-light">u narednih mesec dana: {{ '{:,.2f}'.format(data.razlika_8m[5]) }} din</li>
                    <li class="list-group-item list-group-item-light">u naredna 3 meseca: {{ '{:,.2f}'.format(data.razlika_8m[6]) }} din</li>
                    </ul>
                </p>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="form-group">
        <a class="btn" href="{{url_for('invoices.invoice_list')}}">&#8678; Nazad</a>
        {{ form.submit(class="btn btn-outline-info") }}
    </div>
    </form>
</div>
{% endblock content%}

{% block scripts %}
<!-- todo: autocomplete klijent list (ali izgleda da ne radi kad klineš da ti dopuni input polje): https://www.youtube.com/watch?v=bRdjEpodiaQ&ab_channel=TheTechTeam -->
<!-- todo: autocomplete klijent list (ali izgleda da ne radi kad klineš da ti dopuni input polje): https://www.youtube.com/watch?v=bRdjEpodiaQ&ab_channel=TheTechTeam -->
<!-- todo: autocomplete klijent list (ali izgleda da ne radi kad klineš da ti dopuni input polje): https://www.youtube.com/watch?v=bRdjEpodiaQ&ab_channel=TheTechTeam -->
<!-- todo: autocomplete klijent list (ali izgleda da ne radi kad klineš da ti dopuni input polje): https://www.youtube.com/watch?v=bRdjEpodiaQ&ab_channel=TheTechTeam -->
<!-- todo: autocomplete klijent list (ali izgleda da ne radi kad klineš da ti dopuni input polje): https://www.youtube.com/watch?v=bRdjEpodiaQ&ab_channel=TheTechTeam -->
    <script>
        // getting all required elements
        const searchWrapper = document.querySelector(".search-input");
        const inputBox = searchWrapper.querySelector("input");
        const suggBox = searchWrapper.querySelector(".autocom-box");
        const icon = searchWrapper.querySelector(".icon");
        let linkTag = searchWrapper.querySelector("a");
        let webLink;
        let suggestions = JSON.parse('{{customer_list|tojson|safe}}');
        // let suggestions_ = ['klijent1', 'klijent2', 'klijent3', 'klijent4', 'klijent5'];
        console.log(suggestions);
        // console.log(suggestions_);
        // if user press any key and release
        inputBox.onkeyup = (e) =>{
            console.log(e.target.value);
            let userData = e.target.value; //user enetered data
            let emptyArray = [];
            if(userData){
                emptyArray = suggestions.filter((data)=>{
                    //filtering array value and user characters to lowercase and return only those words which are start with user enetered chars
                    return data.toLocaleLowerCase().includes(userData.toLocaleLowerCase());
                });
                emptyArray = emptyArray.map((data)=>{
                    // passing return data inside li tag
                    return data = `<li>${data}</li>`;
                });
                searchWrapper.classList.add("active"); //show autocomplete box
                showSuggestions(emptyArray);
                let allList = suggBox.querySelectorAll("li");
                for (let i = 0; i < allList.length; i++) {
                    //adding onclick attribute in all li tag
                    allList[i].setAttribute("onclick", "select(this)");
                }
            }else{
                searchWrapper.classList.remove("active"); //hide autocomplete box
            }
        }
        function select(element){
            let selectData = element.textContent;
            inputBox.value = selectData;
            
            searchWrapper.classList.remove("active");
        }
        function showSuggestions(list){
            let listData;
            if(!list.length){
                userValue = inputBox.value;
                listData = `<li>${userValue}</li>`;
            }else{
            listData = list.join('');
            }
            suggBox.innerHTML = listData;
        }
    </script>
{% endblock %}
